.btn {
  border: none;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    // text-decoration: underline;
  }

  &:active {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
}
